.wrapper {
  max-width: 600px;
  margin: 50px auto;
  padding: 25px;
  display: flex;
  gap: 25px;
  flex-direction: column;
  &-title {
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: capitalize;
    text-align: center;
    font-size: 32px;
  }
}
